@import url("./assets/css/header/header.css");
@import url("./assets/css/header/header.responsive.css");
@import url("./assets/container_doacao.css");
@import url("./assets/voluntariado.css");
@import url("./assets/rodape.css");


*{
    margin:0;
    padding: 0;
}
:root{
    --azul-oceano:#69D2CA;
    --azul:#0096B8;
    --cor-fundo:#FCF6E8;
    --rosa:#F83AAF;
    --amarelo:#F2CA50;
    --branco:#ffffff;
    --fonte-Dekko:"Dekko";
    --fonte-Chicle: "Chicle"
}

body {
    background-color: var(--cor-fundo);
}