.container_cabecalho {
  display: flex;
  height: 112px;
  background-color: var(--azul-oceano);
}

.container_menu {
  display: flex;
  background-color: var(--azul-oceano);
  width: 100%;
  font-family: var(--fonte-Dekko);
  justify-content: center;
  align-items: center;
}
.itens_menu {
  display: flex;
  list-style: none;
}

.link_menu {
  text-decoration: none;
  color: var(--branco);
  font-family: var(--fonte-Dekko);
  font-size: 20px;
  padding-left: 2em;
}
.link_menu:hover {
  color: var(--rosa);
}
.icones_home {
  margin: 20px 100px 20px 450px;
  display: flex;
  align-items: center;
}
.imagem_logo {
  width: 100px;
  height: 80px;
  flex-shrink: 0;
}
.imagem_home {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.botao_menu {
  display: none;
}
