.container_doacao{
     display: flex;
     justify-content: center;
     align-items: center;
  }


.container_texto {
  text-align: center;
  padding: 1em 0;
}

.container_texto-titulo {
  font-family: var(--fonte-Chicle);
  font-size: 90px;
  color: var(--azul);
}

.container_texto-frase {
  font-family: var(--fonte-Dekko);
  font-size: 45px;
  color: var(--rosa);
}
.container_elemento1{
  width: 318px;
  height: 86px;
  display: block;
}

.botao_doacao {
  border: 1px solid #0096b8;
  border-radius: 20px;
  background: #0096b8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--fonte-Chicle);
  font-size: 32px;
  color: var(--amarelo);
  text-decoration: none;
  padding: 0.4em 1em;
}

@media screen and (min-width: 1728px) {
  .container_doacao {
    display: flex;
    justify-content: center;
  }

  .botao_doacao {
    margin-left: 5em;
  }
}
