/* .titulo__pagina__qs{
    font-family: var(--fonte-Dekko);
    font-size: 55px;
    color: var(--rosa);
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;

}
  
.colunas{
    column-count: 2;
    column-width: 400px;
    column-gap: 0px;

}

.colunas__1{
    text-align: left;
    padding: 0rem;
    margin: 4rem;
    padding-left: 10rem;

}

.colunas__2{
    font-family: var(--fonte-Dekko);
    font-size: 25px;
    text-align: center;
    width: 50%;
    padding: 4rem;
    margin: 3rem;
    padding-right: 15rem;
}

.fotos_quem_somos{
    display: inline-flexbox;
    padding: 2rem;
    margin: 3rem;
}

.fotos_quem_somos:hover{
    font-size:120% ;
}
 */


.quemsomos_conteudo{
    font-family: var(--fonte-Dekko);
    color: var(--rosa);
    padding: 5% 5%;
 }

.quemsomos_conteudo_paragrafo{
    width: 1200px;
    display: flex;
    gap: 10px;
    padding: 0% 10%;
    justify-content: space-between;
    column-count: 2;
    column-width: 400px;
    column-gap: 120px;
}

.quemsomos_conteudo_titulo{
    font-size: 55px;
    color: var(--rosa);
    justify-content: center;
    display: flex;
    align-items: center;
}
.quemsomos_conteudo_logo{
    justify-content: left;

}

.quemsomos_conteudo_texto{
    font-size: 25px;


}


.quemsomos_conteudo_fotos{
    font-family: var(--fonte-Dekko);
    color: var(--rosa);
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.quemsomos_conteudo_fotos a{
    text-decoration: none;

}