.apresentacao {
  display: inline-block;
  background-color: var(--cor-fundo);
  justify-content: space-between;
  padding: 5% 0 15% 0;
  align-items: center;
}
.apresentacao__facaparte {
  width: 100%;
  display: flex;
  gap: 30px;
}
.apresentacao__facaparte img {
  width: 100px;
  height: 100px;
  margin-top: 15%;
}
.apresentacao__facaparte__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-left: 5%;
  margin-bottom: 10%;
}
.apresentacao__facaparte__links__botao {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: var(--azul-oceano);
  width: 70%;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 30px;
  padding: 0.4em 1em;
  font-family: var(--fonte-Dekko);
}

.apresentacao__imagem {
  display: flex;
  flex-direction: column;
}
.swiper {
  display: none;
}

a:hover {
  color: var(--rosa);
}
.apresentacao__desktop {
  width: 100%;
  display: none;
  gap: 30px;
}
.apresentacao__desktop img {
  width: 100px;
  height: 100px;
  margin-top: 7%;
}
.apresentacao__desktop__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-left: 5%;
  margin-bottom: 10%;
}
.apresentacao__desktop__links__botao {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: var(--azul-oceano);
  width: 70%;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-family: var(--fonte-Dekko);
  font-size: 30px;
  color: rgb(62, 62, 228);
  padding: 0.4em 1em;
}
@media (min-width: 1080px) {
  .apresentacao {
    display: none;
  }
  .swiper {
    display: block;
  }

  .apresentacao__desktop {
    display: flex;
    justify-content: center;
  }
}
